.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 100;
    background-color: beige;
    width: 50%;
    height: 50%;
}
