.landing_page_container_1 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px 30px;
    grid-template-areas: 'login info';
}

.landing_page_container_2 {
    position: relative;
    width: 100%;
    display: grid;
    // align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px 20px 20px 20px;
    grid-template-areas: 'primary features info';
    z-index: 2;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-row-start: login;
    grid-column-start: login;
    grid-row-end: login;
    grid-column-end: login;
    z-index: 2;
    grid-template-areas: 'login';
}

.info_container {
    display: flex;
    justify-content: left;
    align-items: center;
    align-self: center;
    position: relative;
    grid-row-start: info;
    grid-column-start: info;
    grid-row-end: info;
    grid-column-end: info;
    z-index: 2;
    grid-template-areas: 'info';
    span {
        color: black;
        width: 60%;
        font-size: 45px;
    }

    .underlined_span {
        color: black;
        --extra-underlineNumber: 3;
        --extra-underlineColor: #028090;
        --extra-underlineWidth: 3;
        background: paint(extra-superUnderline);
    }
}
.description_container {
    display: flex;
    width: 90%;
    height: 50%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    grid-template-areas: 'description';
}

@media (max-width: 700px) {
    .landing_page_container_1 {
        grid-template-rows:
            'login'
            'info';
    }
}
