.landing_page_container_1 {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.landing_page_container_2 {
    position: relative;
    width: 100%;
    display: grid;
    // align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px 20px 20px 20px;
    grid-template-areas: 'primary features info';
    z-index: 2;
}

.login_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.info_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    z-index: 2;
    span {
        color: black;
        width: 60%;
        font-size: 45px;
    }

    .underlined_span {
        color: black;
        --extra-underlineNumber: 3;
        --extra-underlineColor: #028090;
        --extra-underlineWidth: 2;
        background: paint(extra-superUnderline);
    }
}
.description_container {
    display: flex;
    width: 90%;
    height: 50%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    grid-template-areas: 'description';
}

@media (max-width: 700px) {
    .landing_page_container_1 {
        grid-template-rows:
            'login'
            'info';
    }
}
